html{
    overflow-y: scroll;
}

body{
    font-family: 'Josefin Slab', serif;
    font-size: 16pt;
    background-color: #fcf5e9;
    min-width: 1060px;
}

.h3, h3{
    font-size: 20pt;
    font-weight: 900;
    color:white;
}

.navigation, .navigation-smaller {
    list-style: none;
}

.navigation > li {
    text-align: center;
    font-size: 14pt;
    padding-top:15px;
    padding-bottom:15px;
    padding-right: 15px;
    display: inline-block;
    width:101px;
}

.navigation-smaller > li {
    font-size: 10pt !important;
    text-decoration: underline !important;
    padding-right: 0 !important;
    padding-top:15px;
    padding-bottom:15px;
    width:70px !important;
    text-align: center;
    display: inline-block;
    width:101px;
}

.navigation > li > a, .navigation-smaller > li > a {
    color: #fcf5e9;
    text-decoration: none;
}

.navigation > li > a:hover {
    color:#8dc3d1;
}

.nav-selected {
    background: url('../img/circle.png') no-repeat;
    width:101px;
    height:41px;
}

.logo-container{
    text-align: center;
    padding-right: 90px;
}

.logo {
    width:100px;
    margin: -20px auto 0 auto;
    display: inline-block;
    position: fixed;
    z-index: 20;
}

.home-spacer{
    width:100%;
    height:400px;
    background-color: black;
}

.nav-block{
    min-width: 1060px;
    width:100%;
    height:50px;
    background-color: black;
    text-align: center;
    position:fixed;
    z-index: 10;
}

.white-block{
    width:100%;
    height:100%;
    text-align: center;
    background-color: #fcf5e9;
    padding: 40px 0;
}

.white-spacer{
    width:100%;
    min-height: 30px;
    height:70px;
    background-color: #fcf5e9;
}

.teal-block{
    width:100%;
    height:100px;
    background-color: #8dc3d1;
    text-align: center;
    line-height: 29px;
    padding-top: 23px;
}

.black-block{
    width:100%;
    height:50px;
    background-color: black;
}

.black-footer{
    width:100%;
    height:120px;
    background-color: black;
    text-align: center;
    color: #fcf5e9;
    font-size: 10pt;
}

.thumbnail{
    width:350px;
    height:auto;
    border: solid thick white;
    margin:20px;
}

#hidden-social-nav{
    display: none;
}

/* Social Media Icon set */
ul.socialicons 		            { list-style-type: none; margin-top: -67px; margin-right:50px;}
ul.socialicons li		    { list-style-type: none; display: inline-block; float: right; padding: 0 5px 0 0; }
ul.color li a 			    { background: url('../img/supermassivecsspriteicons2.png') no-repeat 0 0; }
ul.socialicons li a 		    { text-indent: -9999px; width: 32px; height: 33px; display: block; overflow: hidden; margin: 2px; }
ul.socialicons li a.linkedin 	    { background-position: 0 -292px; }
ul.socialicons li a.linkedin:hover  { background-position: -38px -292px; }
ul.socialicons li a.github 	    { background-position: 0 -981px; }
ul.socialicons li a.github:hover    { background-position: -38px -981px; }
ul.socialicons li a.email 	    { background-position: 0 -1623px; }
ul.socialicons li a.email:hover     { background-position: -38px -1623px; }
ul.socialicons li a.facebook 	    { background-position: 0 -73px; }
ul.socialicons li a.facebook:hover  { background-position: -38px -73px; }

.white{
    color:#fcf5e9;
}

.red{
    color:#d03248;
}

.bold-italic{
 font-weight: 900;
 font-style: italic;
}


td{
    text-align: left;
    line-height: 20px;
    vertical-align: top;
    padding: 2px;
    min-width: 100px;
}
.head{
    padding-top:7px;
}

input[type="text"], textarea{
    width:400px;
    line-height: 16px;
}

input[type="submit"]{
    float: right;
}

.message{
    height:70px;
}

.form-table{
    margin-left: auto;
    margin-right: auto;
    margin-top: -100px;
}

.karen-image, .karen-image-hidden{
    float: right;
    margin-right: 60px;
    margin-top: -50px;
}

.karen-arrow > img{
    width: 120px;
    height: auto;
    float: right;
    margin-right: 20px;
}

.karen-arrow, .karen-image-hidden {
    display: none;
}

#heart{
    display: none;
    padding-left:12px;
    padding-right:11px;
    margin-top: -5px;
    margin-bottom:-5px;
}

#ggbridge{
    display: none;
    padding-left:11px;
    padding-right:11px;
    margin-top: -7px;
    margin-bottom:-5px;
}

#sunglass{
    display: none;
    padding-left:3px;
    padding-right:3px;
    margin-top: -5px;
    margin-bottom:-2px;
}

.clear{
    clear: both;
}

.teal-block > a {
    text-decoration: none;
}

.teal-block > a:hover {
    text-decoration: underline;
}

.contact-table {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


.contact-account > td, .contact-title > td{
    width: 160px;
    text-align: center;
}

.contact-icon > td {
    width: 80px;
    padding-left: 40px;
}

.contact-title > td > a, .contact-title  {
    color: #d03248;
    font-size: 12pt;
    text-align: center;
    text-decoration: none;
}

.contact-title > td > a:hover  {
    text-decoration: underline;
}

.contact-account {
    color: #8dc3d1;
    font-size: 12pt;
    text-align: center;
}

.about-me{
    font-family: sans-serif;
    font-size: 10pt;
    list-style: none;
    padding: 0 0 30px 0;
    
}
.about-me > li{
    display: inline-block;
    text-align: justify;
    vertical-align: middle;
    padding: 20px;
}

.about-text {
    width:340px;
    line-height: 18px;
}

.about-img{
    width:250px;
    text-align: center;
}








.pill-box{
    text-align: center;
    padding: 20px;
    margin: 20px;
    height:230px;
    width:170px;
    color: black;
    border: #e7e7e7 solid thin;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background: #ffffff;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#efeeef));
    background: -webkit-linear-gradient(top, ffffff, #efeeef);
    background: -moz-linear-gradient(top, ffffff, #efeeef);
    background: -ms-linear-gradient(top, ffffff, #efeeef);
    background: -o-linear-gradient(top, ffffff, #efeeef);
    display: inline-block;
}


.hidden-hover-info > p{
    text-align: center;
    line-height: 25px;
    padding: 5px 40px 4px 40px;

}

.hidden-hover-info > img {
    text-align: center;
    position: absolute;
    display:block;
    margin-left: auto;
    margin-right: auto;
}

#hidden-education > img {
    margin-left: 240px;
}

#hidden-certificate  > img {
    margin-left: 500px;
}

#hidden-experiance  > img {
    margin-left: 580px;
}

#hidden-education, #hidden-experiance, #hidden-certificate  {
    display: none;
}

.hidden-hover-box{
    width: 900px;
    height:150px;
    margin-left: auto;
    margin-right: auto;
}

.blue-underline{
    color: #456896;
    text-decoration: underline; 
}

.pill-box > h5 {
    font-size: 18pt;
    color:#d03248;
    padding: 20px 0;
    font-family: sans-serif;
    text-decoration: underline;
}

.pill-text {
    font-size: 12pt;
    color:#8dc3d1;
    font-family: sans-serif;
}

.hidden-hover-info > h2 {
    font-size: 32pt;
}

.hidden-hover-info > h1, .social-feeds > h1 {
    font-size: 38pt;
}
.social-feeds{
    padding: 50px;
}

.horizontal-line{
	background-color: #ded8d6;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
	height:1px;
	width:90%;
	margin-bottom: 0;
	margin-top: 4px;
}

.horizontal-line2{
	background-color: silver;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
	height:1px;
	width:90%;
	margin-bottom: 10px;
	margin-top: 0;
}

label.error {
    width: 250px;
    display: inline;
    color: red;
}

.custom-button{
}
